* {
    outline: 1px solid tomato;
    /* 난제 지우기~~ */
}

body {
    overflow-x: hidden;
}

.inner {
    width: 1170px;
    margin: 0 auto;
}

.Header {
    .banner {
        background: #000;
        height: 35px;

        .des {
            color: #fff;
            font-size: 15px;
            text-align: center;
            line-height: 35px;
        }
    }

    .menu {
        h1 {
            width: 90px;
            padding: 23px 0;
            margin: 0 auto;
        }

        nav {
            display: flex;
            border-top: 1px solid rgb(233, 233, 233);
            border-bottom: 1px solid rgb(233, 233, 233);


            ul {
                display: flex;
                gap: 100px;
                line-height: 50px;
                margin: 0 auto;

                li {
                    font-size: 15px;
                }
            }
        }



    }
}